/// Configure Bootstrap
$enable-flex: true;
$font-size-root: 14px;
$border-width: .075rem;
$body-color: #333;
$border-radius: 0;
$input-border-focus: #333;
$input-border: #ddd;
$font-family-sans-serif: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

$colorGray: #eeeeee;
$colorLightGray: #f9f9f9;


